.main-filters {
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid gray;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
  max-width: 400px;
  padding: 6px;
  width: 100%;
}


.main-filters .form-filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-filters input, .main-filters select, .main-filters button:not( [ disabled ] ) {
  background-color: darkblue;
  border: 2px solid rgb(0, 107, 139);
  border-radius: 8px;
  color: white;
}

.main-filters .name-filter {
  text-align: center;
  width: 100%;
}

.main-filters .filter-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.main-filters .filter-options * {
  width: 100px;
}

.main-filters .filter-options input {
  align-self: flex-end;
  text-align: center;
}

.main-filters .filter-buttons {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
}

.main-filters .filter-buttons button {
  border: none;
  border-radius: 8px;
  color: white;
  transition: 300ms;
  width: 100%;
}

.main-filters button:not( [ disabled ] ) {
  background-color: darkblue;
  cursor: pointer;
}

.main-filters button:not( [ disabled ] ):hover {
  background-color: yellow;
  color: black;
}

ul {
  list-style: none;
  text-align: center;
}

.main-filters #delete-one {
  background-color: red;
}

@media only screen and ( min-width : 768px ) {

  .main-filters {
    flex-flow: row wrap;
    max-width: 760px;
  }

  .main-filters .name-filter {
    max-width: 600px;
  }

  .main-filters ul {
    display: flex;
    list-style: none;
    text-align: center;
  }

}
